<html>
<head>
 {{>header}}
</head>
<body class="bg-orange-50 m-0 p-0	">
{{>navigation}}
<h1 class="text-orange-800 font-bold text-center text-2xl mb-8">AGB WELLNESS PROGRAM</h1>

<div id="container" class="flex justify-between items-center space-x-6 m-6">
<div >
<h2 class="text-orange-800 font-bold mb-8">What Is AGB Wellness Program?</h2>
<p class="m-0"> AGB wellness program is a set of initiatives set forth by a company or organization to help their employees live healthier and happier lives. Despite working remotely, it is still essential to take care of yourself. Staying healthy - mentally, and physically is a key aspect for a work-life balance.
This program will offer three services; fitness, nutrition and mental health.
</div>
<img src="/images/wellness1.jpg" class="h-80">
</p>
</div>

<div id="container" class="flex justify-between items-center space-x-6 m-6">
<img src="/images/Employees.jpg" class="h-80">
<div>
<h2 class="text-orange-800 font-bold mb-8">Who is it created for?</h2>
<p class="m-0">
By focusing on employee health and wellness, a company is able to decrease medical costs and boost productivity simultaneously. Digital nomad became a trend nowadays due to the pandemic. A lot of professionals can travel anywhere and can choose their desired work environment. Despite working remotely, it is still essential to take care of yourself. Staying healthy - mentally, and physically is a key aspect for a work-life balance. Agb Ltd. corporation plans to avail a wellness program  for their employees who work remotely.
</div>
</p>
</div>
<h1 class="text-orange-800 text-center font-bold text-2xl mt-9">Are you ready to start this journey with us?</h1>
<div class="flex flex-col items-center space-y-4 mb-5">
<a class="grid place-items-center mt-4 rounded-full h-12 w-32 bg-yellow-900 text-black " href="/register">Register Now</a>
<p>Already have an account?</p>
<a class=" font-semibold" href="/login">Log In</a>
</div>
{{>footer}}
</body>            