<html>
<head>
 {{>header}}
</head>
<body class="bg-orange-50 m-0 p-0	">
 {{>navigation}}
<h1 class="text-orange-800 font-bold text-center text-2xl mb-8">AGB WELLNESS SERVICES</h1>

<div id="container" class="flex justify-between items-center space-x-6 m-12">
<div >
<h2 class="text-orange-800 font-bold mb-8">FITNESS</h2>
<p class="m-0">
Experts define physical fitness as “one's ability to execute daily activities with optimal performance, endurance, and strength with the management of disease, fatigue, and stress and reduced sedentary behavior.Walking, lifting weights, doing chores – it’s all good. Regardless of what you do, regular exercise and physical activity is the path to health and well-being. Exercise burns fat, builds muscle, lowers cholesterol, eases stress and anxiety, lets us sleep restfully. In this guide, we match resources to your exercise needs -- at every fitness level.


</div>
<img src="/images/gym.jpg" class="h-80">
</p>
</div>

<div id="container" class="flex justify-between items-center space-x-6 m-12">
<img src="/images/Nutrition.jpg" class="h-80">
<div>
<h2 class="text-orange-800 font-bold mb-8">NUTRITION</h2>
<p class="m-0">
Nutrition is the biochemical and physiological process by which an organism uses food to support its life. It provides organisms with nutrients, which can be metabolized to create energy and chemical structures. Failure to obtain sufficient nutrients causes malnutrition
</div>
</p>
</div>

<div id="container" class="flex justify-between items-center space-x-6 m-12">
<div >
<h2 class="text-orange-800 font-bold mb-8">MENTAL HEALTH</h2>
<p class="m-0">Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices. Mental health is important at every stage of life, from childhood and adolescence through adulthood.
</div>
<img src="/images/Mental health.jpeg" class="h-80">
</p>
</div>


<div class="flex flex-col items-center mb-5">
<a class="grid place-items-center mt-4 rounded-full h-12 w-36 bg-yellow-900 text-black font-semibold " href="/register">Define Your Goals</a>
</div>
{{>footer}}

</body>            