<html>
<head>
 {{>header}}
</head>
<body class="bg-[url('/images/zenStones.png')] bg-no-repeat bg-cover bg-center ml-6 mr-6">
<section class="h-screen">
  <div class="container px-6 py-12 h-full">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
      <div class="md:w-8/12 lg:w-6/12 mb-25 md:mb-0 space-y-4 text-black ">
      <h1 class=" text-6xl font-bold">Register in the</h1>
      <p class="text-4xl font-semibold">AGB Wellness Program</p>
      <p class="text-2xl font-medium w-36">If you have an account already, you can login <a class="text-blue-900" href="/login">here</a></p>
      </div>
      <div class="md:w-8/12 lg:w-5/12 lg:ml-20 bg-orange-50 rounded-lg p-16">
      <h1 class="text-center text-yellow-900 font-semibold mb-8 text-5xl">Register Here</h1>
      <!-- Registration Form -->
<form method="post" role="/register">
         <!-- Email input -->
          <div class="mb-6">
            <input
              type="text"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="email" name="email" placeholder="Enter email"
            />
          </div>
          <!-- Username input -->
          <div class="mb-6">
            <input
              type="text"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="username" name="username" placeholder="Create username"
            />
          </div>
          <!-- Contact Number input -->
          <div class="mb-6">
            <input
              type="text"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="number" name="number" placeholder="Contact Number "
            />
          </div>

           <!-- Choose role -->
    
  <div class="mb-3">
    <select id="role" class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
        <option selected>Please select your Role</option>
        <option value="manager">Manager</option>
        <option value="staff">Staff</option>
    </select>
  </div>

          <!-- Password input -->
          <div class="mb-6">
            <input
              type="password"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="pass" name="pass" placeholder="Enter Password (8 characters minimum)</">
          </div>

          <!-- Submit button -->
          <button
            type="submit"
            class="inline-block px-7 py-3 bg-yellow-900 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</section>



</body>
</html>